<ion-content padding>
<h1 class="ion-text-center ">
  <ion-icon name="list-circle-outline"  color="primary" class="icon-7em" ></ion-icon>
</h1>
<ion-item>
  <ion-icon name="mail" color="primary" slot="start"></ion-icon>
  <ion-input type="email" placeholder="E-Mail" inputmode="email" autofocus="true"></ion-input>

</ion-item>
<ion-item class="senha">
  <ion-icon name="lock-closed" color="primary" slot="start"></ion-icon>
  <ion-input type="password" placeholder="Senha"></ion-input>
</ion-item >
<ion-button expand="block">Login</ion-button>
<ion-button expand="block" fill="clear">Criar Conta</ion-button>
<ion-button expand="block">
  <ion-icon name="logo-facebook" slot="start"></ion-icon>
</ion-button>
</ion-content>
